/**/
.machine-3d-frame .machine-live-poster{
  opacity:0;
  object-fit:cover;
  object-position:center center;
  background:#01050a;
}
.machine-3d-frame.live-poster-ready:not(.open) .machine-live-poster{
  opacity:1;
}
.machine-3d-frame.open .machine-live-poster{
  opacity:0!important;
}
/**/
.machine-3d-frame.model-ready:not(.open) .machine-3d{
  opacity:1;
  visibility:visible;
  pointer-events:none!important;
}
