/**/
@media (max-width: 900px){
  html body > .shell-edge.l,
  html body > .shell-edge.r{
    bottom:calc(74px + var(--safe-bottom))!important;
    overflow:visible!important;
  }

  html body > .shell-edge.l{
    border-bottom-left-radius:20px!important;
    border-bottom-right-radius:8px!important;
  }
  html body > .shell-edge.r{
    border-bottom-right-radius:20px!important;
    border-bottom-left-radius:8px!important;
  }

  /**/
  html body::before{
    bottom:calc(74px + var(--safe-bottom))!important;
    border-bottom-left-radius:20px!important;
    border-bottom-right-radius:20px!important;
    overflow:hidden!important;
  }

  /**/
  html body > .shell-edge.l::after,
  html body > .shell-edge.r::after{
    bottom:-1px!important;
    width:21px!important;
    height:21px!important;
  }
  html body > .shell-edge.l::after{
    background:radial-gradient(circle at 100% 0,transparent 0 18px,#071323 18.8px 100%)!important;
  }
  html body > .shell-edge.r::after{
    background:radial-gradient(circle at 0 0,transparent 0 18px,#071323 18.8px 100%)!important;
  }
}
